<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:hors="http://hors.org/">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/calendar.css"/>
<script type="text/javascript" src="/script/jquery.js"></script>
<script type="text/javascript" src="/script/calendar.js"></script>
</head>
<body>
	<ul hors:id="iterator">
	   <li><a hors:id=link>#{iterator.row}</a></li>
	</ul>
</body>
</html>